body {font-family: 'Roboto', sans-serif;
color: black;}

a {text-decoration: none;}

.copyright {display: inline;}

.iconosfooter {display:inline ;
float: right;
padding-right:10px ;}

.col {height: 100px;}

footer {padding: 20px 10px;}